@model IEnumerable<tezt.Models.AuctionItem>

@{
    ViewData["Title"] = "EditItem";
}

<h1>Edit AuctionItem</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuctionItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuctionItemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Decade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.AuctionItemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuctionItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuctionItemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Decade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuctionItemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
           <td>|
                <a asp-action="Edit" asp-route-id="@item.AuctionItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AuctionItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AuctionItemId">Delete</a> |               
            </td>
        </tr>
}
    </tbody>
</table>
