@model tezt.Models.AuctionItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AuctionItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuctionItemName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuctionItemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuctionItemDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuctionItemDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Decade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Decade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
    </dl>
</div>
<div>|
    <a asp-action="Inventarie">Back to List</a>
</div>
